@model NguyenQuynhAnh056.Models.CompanyNQA056

@{
    ViewData["Title"] = "Details";
}

<h1>Xem</h1>

<div>
    <h4>CompanyNQA056</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CompanyId">Sửa</a> |
    <a asp-action="Index">Danh sách</a>
</div>
